testbijen.php

I am writing to request you for a leave of 2 days starting from today Monday(30/Oct/2017) to Tuesday(31/Oct/2017). My sister has been admitted in the hospital from last Friday(27/Oct/2017). She has been diagnosed as Typhoid Fever. I am the only one available to take care of her. I will report on duty as soon as she is discharged from the hospital and gets well.

Kindly consider my application and kindly oblige me.

Thanks and regards,


I am writing to request you for a leave of 2 days starting from today, Monday (30/Oct/2017) to Tuesday (31/Oct/2017). My sister has been admitted in the hospital since last Friday (27/Oct/2017). She has been diagnosed as Typhoid Fever. I am the only one available to take care of her. I will report on duty as soon as she is discharged from the hospital and gets well.

Kindly consider my application and kindly oblige me. 

Thanks and regards,